i {
  margin: 0 3px;
  cursor: pointer;
}

.col-number {
  max-width: 50px;
  width: 50px;
}

table {
  cursor: pointer;
}

.btn-add {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  left: 93%;
  margin-bottom: 20px;
  top: 30px;
  outline: none;
  text-align: center;
  font-size: 24px;
  border: none;
  z-index: 55;
}

#container__content {
  transition: margin-left 1s;
  padding: 20px 50px;
  margin-left: 250px;
}

@media only screen and (max-width: 600px) {
  .col-mobile-hide {
    display: none;
  }

  .btn-add {
    left: 80vw;
  }
}

.container-filter {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.container-filter button {
  width: 150px;
  cursor: pointer;
  margin-left: 10px;
}

.tag-pending{
  display: flex;
  flex-direction: row;
  background-color: #ff4f03;
  padding: 8px 20px;
  color: #fff;
  border-radius: 20px;
  width: 150px;
  align-items: center;
  justify-content: center;
}
.tag-ending{
  display: flex;
  flex-direction: row;
  background-color: #469627;
  padding: 8px 40px;
  color: #fff;
  border-radius: 20px;
  width: 180px;
  align-items: center;
  justify-content: center;
}

.tag-canceled{ 
  display: flex;
  flex-direction: row;
  background-color: #7e0c2c;
  padding: 8px 40px;
  color: #fff;
  border-radius: 20px;
  width: 180px;
  align-items: center;
  justify-content: center;
}

.tag-waiting{
  display: flex;
  flex-direction: row;
  background-color: #0F4A7E;
  padding: 8px 40px;
  color: #fff;
  border-radius: 20px;
  width: 180px;
  align-items: center;
  justify-content: center;
}
