<div id="container__content">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Matrices de mantenimiento">
      <app-tbl-maintenance-matrix> </app-tbl-maintenance-matrix
    ></mat-tab>
    <mat-tab label="Artículos de mantenimiento">
      <!-- <app-tbl-maintenance-item> </app-tbl-maintenance-item
    >--></mat-tab
    >
    <mat-tab label="Rutinas de mantenimiento">
      <app-tbl-maintenance-routines> </app-tbl-maintenance-routines
    ></mat-tab>
  </mat-tab-group>
</div>

<app-img-loading *ngIf="isAwaiting"></app-img-loading>
