.container__menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 70px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.container__menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.container__menu a:hover {
  color: #f1f1f1;
}

.btnClose {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#btnMenu {
  padding: 2px 10px;
  margin-left: 30px;
  margin-top: 30px;
}

.item-nav-active {
  background-color: #0f4c75 !important;
  color: #f1f1f1 !important;
}

.container__user {
  display: grid;
  grid-template-columns: 50px 200px;
  grid-row: 200px;
  margin-bottom: 30px;
  cursor: pointer;
}

.container__user-img {
  display: flex;
  flex-direction: column;
  background-color: #3282b8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.container__user-info {
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
  margin-left: 40px;
}

.container__user img {
  width: 50px;
  height: 50px;
}

.container__user-info-title {
  font-size: 22px;
}

.container__user-info-subtitle {
  font-size: 18px;
  margin-top: -5px;
}

.item-navigation {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.copyright_footer a{

    color: #ffff ;
    font-size: 12px;
    text-align: center;
}

// @media only screen and(max-width: 600px) {
//   .container__menu {
//     display: none;
//   }
// }
