<div class="container__table" id="container__table_items">
    <h2>Precios por artículo de mantenimiento: {{ (dealerSelected!=null)?dealerSelected.name:'' | titlecase}} </h2>
    <div class="container-filter">
      <input
        [formControl]="txtFilter"
        placeholder="Código ó descripción ..."
        class="form-control"
        type="text">
      <button
        (click)="removeFilter()"
        class="btn btn-danger">
        Borrar filtro
      </button>
    </div>
    <table class="table table-striped">
        <thead>
            <th class="col-number col-mobile-hide">#</th>
            <th>Código</th>
            <th>Nombre</th>
            <th class="col-mobile-hide">Tipo</th>
            <th class="col-mobile-hide">Presentación</th>
            <th class="col-mobile-hide">Valor sin impuesto</th>
            <th class="col-mobile-hide">Valor impuestos</th>
            <th class="col-mobile-hide">Valor total x item</th>
        </thead>
        <tbody>
            <tr *ngFor="let i = index ;let item of lsMaintenanceItems$ | async | paginate: { itemsPerPage: 10, currentPage: pag }">
                <td>{{i+1}}</td>
                <td>{{item.code}}</td>
                <td>{{item.name | titlecase | slice:0:40 }}</td>
                <td>{{item.type.name | titlecase}}</td>
                <td>{{item.presentationUnit.longName | titlecase}}</td>
                <td>
                  <input
                    class="form-control txt-price"
                    type="text"
                    (keypress)="validateTyping($event)"
                    (input)="formatNumber($event);setReferencePriceByItem($event, item)"
                    [value]="sharedFunction.formatNumberToString(item.referencePrice)">
                </td>
                <td>{{item | calculateTaxes : item.referencePrice | currency:'USD':'symbol':'1.0-0'}}</td>
                <td>{{item | calculateTotalPrice : item.referencePrice | currency:'USD':'symbol':'1.0-0' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="paginationContainer">
        <pagination-controls (pageChange)="pag = $event"></pagination-controls>
    </div>
    <!-- <div class="buttons__container" id="container__buttons">
        <button type="button" class="btn btn-danger" (click)="cancelPrices()">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="savePrices()">Guardar precios</button>
    </div> -->
</div>


<app-img-loading *ngIf="isAwaiting"></app-img-loading>
