.container__table {
  margin-top: 20px;
}

.container_licensePlate {
  margin-top: -10px;
}

.container__licensePlate label {
  cursor: pointer;
}

h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
