<form [formGroup]="frmVehicle" (ngSubmit)="saveVehicle()">
    <div class="row__container" id="container__identyfy">
       
        <div class="col">
            <label for="">Placa:</label>
            <input type="text" 
                class="form-control" 
                placeholder="Placa ..."
                formControlName="licensePlate">

            <div class="error" *ngIf="licensePlateField.errors && (licensePlateField.touched || licensePlateField.dirty)">
                <p *ngIf="licensePlateField.hasError('required')">* La placa es un campo requerido</p>
                <p *ngIf="licensePlateField.hasError('minlength')">* La cantidad de caracteres para la placa no es válida</p>
                <p *ngIf="licensePlateField.hasError('maxlength')">* La cantidad de caracteres permitida para la placa es máximo de 6</p>
            </div>
        </div>

        <div class="col">
            <label for="">VIN:</label>
            <input type="text" class="form-control" 
                placeholder="VIN ..."
                formControlName = "chasisCode">

            <div class="error" *ngIf="chasisCodeField.errors && (chasisCodeField.touched || chasisCodeField.dirty)">
                <p *ngIf="chasisCodeField.hasError('required')">* El código del chasis es un campo requerido</p>
                <p *ngIf="chasisCodeField.hasError('minlength')">* La cantidad de caracteres para el código del chasis no es válida</p>
                <p *ngIf="chasisCodeField.hasError('maxlength')">* La cantidad de caracteres permitida para el código del chasis es máximo de 17</p>
            </div>
        </div>

        <div class="col">
            <app-vehicle-state
                [countChanges]="oCountChanges">
            </app-vehicle-state>
        </div>
    </div>

    <div class="row__container">       
        <div class="col">
          <app-vehicle-brand
            [countChanges]="oCountChanges"
            (vehicleBrandWasSetted)="setBrand()"
            ></app-vehicle-brand>
        </div>

        <div class="col">
            <app-vehicle-type
            [countChanges]="oCountChanges"
           (vehicleTypeWasSetted)="setVehiclType()" 
            ></app-vehicle-type>
        </div>

        <div class="col">
            <app-vehicle-model 
                [countChanges]="oCountChanges">
                </app-vehicle-model>
        </div>
    </div>
  

    <div class="row__container" id="container__otherInformation">
        <div class="col">
            <label for="">Modelo:</label>
            <input type="text" class="form-control" 
                placeholder="Modelo ..."
                formControlName = "year"
                (keypress)="valitateTyping($event,'numbers')">
        </div>  

        <div class="col">
            <label for="">Kilometraje:</label>
            <input type="text" class="form-control" 
                placeholder="Kilometraje ..."
                formControlName = "mileage"
                (keypress)="valitateTyping($event,'numbers')">
        </div>      

    </div>
    <div  class="container__error" *ngIf="formHasError">
        <p><span class="error"> * {{error}} *</span></p>
    </div>
    <div class="buttons__container" id="container__buttons" >
        <button type="button" class="btn btn-danger" (click)="comeBack()">Cancelar</button>
        <button type="submit" class="btn btn-success"  [disabled]="frmVehicle.invalid">Guardar</button>
    </div>  
</form>
