.card{
  padding: 10px;
}
.container-row{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.container-col{
  padding: 10px;
}

.container-buttons{
  margin-top: 10px;
  direction: ltr;
  display: flex;
  justify-content: flex-end;
}

.btn-step{
  width: 100px;
  margin-left: 5px;
}

.error{
  color: red;
}

.error > p {
  margin-top: 10px;
}
