<div class="container__menu" id="container__menu">
    <div class="container__user">
        <div class="container__user-img">
            <img src="../../../assets/user.png" alt="user">
        </div>
        <div class="container__user-info">
            <span class="container__user-info-title">Bienvenido</span>
            <span class="container__user-info-subtitle">{{ session.user }}</span>
        </div>
    </div>
    <hr>
    <a *ngFor="let module of moduleFathers" id="{{ module.moduleDescription }}" class="item-navigation" [routerLink]="[module.path]" routerLinkActive="item-nav-active">{{ module.moduleName }}</a>
    <a [routerLink]="" (click)="logout()"><i class="fas fa-sign-out-alt" title="Salir">Salir</i></a>
</div>

<button id="btnMenu" (click)="openMenu()">
    <i class="fas fa-bars" title="Menú"></i>
</button>