<div id="container__content">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Datos del contrato">
      <form [formGroup]="frmContract" class="form-basic-data">
        <div class="container__row">
          <div class="container__col">
            <app-input-search-client
              [client]="client"
              [disableField]="disableClientField"
              (clientWasSetted)="setClientSelected()"
            >
            </app-input-search-client>

            <div class="error" *ngIf="clientFieldIsInvalid">
              <p>* El cliente es necesario para guardar el contrato</p>
            </div>
          </div>
          <div class="container__col">
            <app-input-search-dealer
              [dealer]="dealer"
              [disableField]="disableDealerField"
              (dealerWasSetted)="setDealerSelected()"
            >
            </app-input-search-dealer>

            <div class="error" *ngIf="dealerFieldIsInvalid">
              <p>* El concesionario es necesario para guardar el contrato</p>
            </div>
          </div>
        </div>
        <div class="container__row">
          <div class="container__col">
            <label>Código de referencia del contrato</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Código de referencia del contrato ..."
            />
          </div>
          <div class="container__col">
            <app-contract-state
              [contractState]="contractState"
              [cmbStateIsDisable]="disableCmbState"
              (contractStateWasSelected)="setContractState($event)"
            ></app-contract-state>

            <div class="error" *ngIf="contracStateFieldIsInvalid">
              <p>* El estado es requerido para guardar el contrato</p>
            </div>
          </div>
        </div>
        <div class="container__row">
          <div class="container__col">
            <label>Cantidad de vehículos contratados</label>
            <input
              class="form-control"
              type="text"
              formControlName="amountVehicles"
              (keypress)="validateNumbers($event)"
              placeholder="cantidad de vehículos contratados"
            />
            <div
              class="error"
              *ngIf="
                amountVehiclesField.invalid &&
                (amountVehiclesField.touched || amountVehiclesField.dirty)
              "
            >
              <p *ngIf="amountVehiclesField.hasError('required')">
                * La cantidad de vehículos es requerida
              </p>
            </div>
          </div>
          <div class="container__col">
            <label>Duración en meses:</label>
            <input
              type="number"
              formControlName="duration"
              class="form-control"
              placeholder="Duración del contrato ..."
              (keypress)="validateNumbers($event)"
              (input)="calculateEndingDate()"
            />
            <div
              class="error"
              *ngIf="
                durationField.invalid &&
                (durationField.touched || durationField.dirty)
              "
            >
              <p *ngIf="durationField.hasError('required')">
                * La duración del contrato es requerida
              </p>
            </div>
          </div>
        </div>
        <div class="container__row">
          <div class="container__col">
            <label>Fecha de inicio:</label>
            <input
              type="text"
              class="form-control"
              formControlName="startingDate"
              [bsValue]="dtStartingDate"
              (keypress)="validateInputDate($event)"
              [bsConfig]="{
                dateInputFormat: 'YYYY/MM/DD',
                containerClass: 'theme-dark-blue'
              }"
              placeholder="fecha de inicio ..."
              (onHidden)="calculateEndingDate()"
              bsDatepicker
            />

            <div
              class="error"
              *ngIf="
                startingDateField.invalid &&
                (startingDateField.touched || startingDateField.dirty)
              "
            >
              <p *ngIf="startingDateField.hasError('required')">
                * La fecha inicial del contrato es requerida
              </p>
            </div>
          </div>
          <div class="container__col">
            <label>Fecha de finalización:</label>
            <input
              type="text"
              class="form-control"
              formControlName="endingDate"
              placeholder="fecha de finalización ..."
              [bsValue]="dtEndingDate"
              [bsConfig]="{
                dateInputFormat: 'YYYY/MM/DD',
                containerClass: 'theme-dark-blue'
              }"
              bsDatepicker
              disabled
            />
          </div>
        </div>
        <div class="container__row">
          <div class="container__col">
            <app-contract-discount-type
              [disableField]="disableTypeOfDiscoutnField"
              (discountWasSelected)="setDiscountType($event)"
            ></app-contract-discount-type>
            <div class="error" *ngIf="discountFieldIsInvalid">
              <p>
                * El tipo de descuento es requerido para guardar el contrato
              </p>
            </div>
          </div>
          <div class="container__col">
            <label>Valor del descuento:</label>
            <input
              type="number"
              formControlName="discountValue"
              class="form-control"
              placeholder="valor del descuento ..."
              (keypress)="validateNumbers($event)"
            />

            <div
              class="error"
              *ngIf="
                discountValueField.invalid &&
                (discountValueField.touched || discountValueField.dirty)
              "
            >
              <p *ngIf="discountValueField.hasError('required')">
                * El valor del descuento que debe aplicarse al contrato es
                requerido
              </p>
              <p *ngIf="discountValueField.hasError('maxValueAllowed')">
                * Si el tipo de descuento es por porcentaje, el valor de este
                campo no puede sobrepasar el valor de 100
              </p>
            </div>
          </div>
        </div>
        <div class="container__observation">
          <label>Observaciones: </label>
          <textarea
            class="form-control"
            formControlName="observation"
            cols="30"
            rows="2"
          >
          </textarea>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Líneas contratadas">
      <app-check-list-vehicle-model
        [disableChecks]="disableVehicleTypesAndVehicleModels"
      >
      </app-check-list-vehicle-model>
    </mat-tab>
    <mat-tab label="Vehículos contratados">
      <app-tbl-check-vehicles
        [amountAllowed]="amountVehiclesField.value"
        [disableChecks]="disableVehicles"
        [contractToFilter]="contractToUpdate"
      >
      </app-tbl-check-vehicles>
    </mat-tab>
    <mat-tab label="Precios contratados">
      <app-tbl-prices-by-contract> </app-tbl-prices-by-contract>
    </mat-tab>
  </mat-tab-group>

  <div class="buttons__container">
    <button type="button" class="btn btn-danger" (click)="comeBackTable()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-success"
      [disabled]="
        frmContract.invalid ||
        clientFieldIsInvalid ||
        dealerFieldIsInvalid ||
        contracStateFieldIsInvalid ||
        discountFieldIsInvalid ||
        buttonSaveIsDisable
      "
      (click)="saveContract()"
    >
      Guardar
    </button>
  </div>
  <!-- <div>
      <div
        class="container__infoError"
        id="cont_error_add_contract"
        *ngIf="
          frmContract.invalid ||
          clientFieldIsInvalid ||
          dealerFieldIsInvalid ||
          contracStateFieldIsInvalid ||
          discountFieldIsInvalid
        "
      >
        <span
          >No se puede guardar el contrato debido a que el formulario no cumple
          con los datos requeridos</span
        >
      </div>
    </div> -->
</div>

<app-img-loading *ngIf="isAwaiting"></app-img-loading>
<app-alert-error
  *ngIf="isErrorVisible"
  [title]="errorTitle"
  [errorMessage]="errorDescription"
  (onAlertWasClose)="closeError()"
></app-alert-error>
