
<div id="container__content">
    
    <div id="container__table_workOrder">
        <h1>Órdenes de trabajo</h1>
        <button class="btn-add btn-info" (click)="openWorkOrder()"><i class="fas fa-plus"></i></button>
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Código</th>
                <th>Placa</th>                
                <th>Cliente</th>
                <th>Mantenimiento</th>
                <th>Sucursal</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Estado</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let workOrder of lsWorkOrderByDealer; let i = index">
                    <td>{{ i + 1}}</td>
                    <td>{{ (workOrder.code!=null)?workOrder.code:'' }}</td>
                    <td>{{ workOrder.headerDetails.vehicle.licensePlate }}</td>                   
                    <td>{{ workOrder.client.name }}</td>
                    <td>{{ workOrder.headerDetails.maintenanceRoutine.name }}</td>
                    <td>{{ workOrder.headerDetails.branch.name | uppercase}}</td>
                    <td>{{ workOrder.registrationDate | date:'yyyy/MM/dd' }}</td>
                    <td>{{ workOrder.value | currency}}</td>
                    <td><span [id]="getSpanStateId(workOrder.id)">{{ validateState(workOrder.transactionState,
                            workOrder.id) }}</span></td>
                    <td>
                        <i class="fas fa-info-circle text-info" (click)="setTransaction(workOrder); openPopUp('container__resume')"title="Más información"></i>
                        <i class="fas fa-trash-alt text-danger" title="Eliminar"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="container__workOrder">       
        <app-work-order 
        (workOrderWasSaved)="getListWorkOrders()"    
        (workOrderWasCanceled)="closeWorkOrder()"></app-work-order>        
    </div>
    

</div>

<div id="container__resume">
    <div class="overlay">
        <div class="card card-review">
            <div class="card-header container__header">
                <h2>Resumen orden de trabajo: {{ (transactionSelected!=null && transactionSelected!=undefined)?transactionSelected.code:'' }}</h2>
                <div class="container__buttonClose">
                    <a><i class="fas fa-times" (click)="closePopUp('container__resume')"></i></a>
                </div>
            </div>
            <div class="card-body">
                <app-work-order-review [workOrder_id]="trx_id">
                </app-work-order-review>
            </div>
        </div>
    </div>
</div>



<app-img-loading *ngIf="isAwaiting"></app-img-loading>