<div class="card">
  <h3>Información del cupo</h3>
  <br>
  <form [formGroup]="frmQuota">
      <div class="container__row">
          <div class="container__col">
              <label>Cupo aprobado</label>
              <input type="text" class="form-control" formControlName="txtApprovedQuota" placeholder="cupo aprobado ..." disabled>
          </div>
          <div class="container__col">
              <label>Cupo disponible</label>
              <input type="text" class="form-control" formControlName="txtCurrentQuota" placeholder="cupo disponible ..." disabled>
          </div>
          <div class="container__col">
              <label>Cupo consumido</label>
              <input type="text" class="form-control" formControlName="txtConsumedQuota" placeholder="cupo consumido ..." disabled>
          </div>
          <div class="container__col">
              <label>Cupo en tránsito</label>
              <input type="text" class="form-control" formControlName="txtInTransitQuota"  placeholder="cupo en tránsito ..." disabled>
          </div>
      </div>
  </form>
  <br>
  <br>
  <h3>Transacciones que afectaron cupo</h3>
  <br>
  <table class="table table-striped">
      <thead>
          <th>#</th>
          <th>Consecutivo</th>
          <th>Movimiento</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Valor</th>
          <th>Cupo disponible inicial</th>
          <th>Cupo disponible final</th>
          <!-- <th>Acciones</th> -->
      </thead>
      <tbody>
          <tr *ngFor=" let i = index; let logTrx of workOrderTransactions | paginate: { itemsPerPage: 5, currentPage: currentPage }">
              <td>{{ i + 1}}</td>
              <td>{{ logTrx.transaction.consecutive }}</td>
              <td>{{ logTrx.transaction.movement.name | titlecase }}</td>
              <td>{{ getState(logTrx.transaction.transactionState) | titlecase }}</td>
              <td>{{ logTrx.transaction.registrationDate | date: 'yyyy/MM/dd' }}</td>
              <td>{{ logTrx.transaction.value | currency:'USD':'symbol':'1.0-0'}}</td>
              <td>{{ logTrx.initValues.currentQuota | currency:'USD':'symbol':'1.0-0'}}</td>
              <td>{{ logTrx.endValues.currentQuota | currency:'USD':'symbol':'1.0-0'}}</td>
              <!-- <td>
                  <i class="fas fa-info-circle text-info" title="Más información"></i>
              </td> -->
          </tr>
      </tbody>
  </table>
  <div class="paginationContainer">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
  </div>
<app-img-loading *ngIf="isAwaiting"></app-img-loading>
