.container__row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
}

.container__col{
  padding: 0 10px 0 10px;
}


td{
    text-align: center;
}

th{
    text-align: center;
}

.card{
  padding:20px;
}
