<div id="container__content">
    <div class="container__reports">

        <div class="report-one report-bigger">
            <app-report-amount-workorders-by-client-or-by-dealer
                [company]="company">                
            </app-report-amount-workorders-by-client-or-by-dealer>
        </div>

        <div class="report-three report-bigger">
            <app-report-workorders-value-by-month
                [company]="company">
            </app-report-workorders-value-by-month>
        </div>
         
        <div class="report-two   report-bigger">
            <app-report-trx-by-state   
                [company]="company">
            </app-report-trx-by-state>
        </div>

        <div class="report-four">
            <app-report-trx-by-vehicle 
                [company]="company">             
            </app-report-trx-by-vehicle>
        </div>  

       
    </div>
</div>

<app-img-loading *ngIf="isAwaiting"></app-img-loading>