<div id="container__content">
  <h1>Roles</h1>
  <div class="container-filter">
    <input
      type="text"
      [(ngModel)]="email"
      (keyup)="filter()"
      class="form-control"
      placeholder="Nombre..."
    />
    <button type="button" (click)="clearFilter()" class="btn btn-danger">
      Borrar filtro
    </button>
    <button class="btn btn-primary" (click)="downloadExcel()">
      Descargar Excel
    </button>
  </div>
  <button class="btn-add btn-info" routerLink="/MasterRoles/form">
    <i class="fas fa-plus"></i>
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let role of roles | paginate: { itemsPerPage: 10, currentPage: p }
        "
      >
        <td>{{ role.name }}</td>
        <td>{{ role.description }}</td>
        <td>
          <i
            class="fas fa-info-circle text-info"
            (click)="viewDetail(role)"
            title="Más información"
          ></i>
          <i
            class="fas fa-edit text-warning"
            title="Modificar"
            routerLink="/MasterRoles/form"
            [queryParams]="{ roleId: role.id }"
          ></i>
          <i
            class="fas fa-trash-alt text-danger"
            title="Eliminar"
            (click)="delete(role.id)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="paginationContainer">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<app-img-loading *ngIf="isLoading"></app-img-loading>
