
<div id="container__content">
    <h1>Concesionarios</h1>
    <button class="btn-add btn-info" (click)="insertDealer()"><i class="fas fa-plus"></i></button>
    <table class="table table-striped">
        <thead>
            <th class="col-number col-mobile-hide">#</th>
            <th>Documento</th>
            <th>Razón social</th>            
            <th class="col-mobile-hide">Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let i = index ;let dealer of lsDealer | paginate: { itemsPerPage: 10, currentPage: p }">
                <th class="col-number col-mobile-hide">{{ (i + 1) }}</th>
                <td>{{ dealer.document }}</td>
                <td>{{ dealer.name | titlecase }}</td>                
                <td>
                    <i class="fas fa-info-circle text-info" title="Más información"></i>
                    <i class="fas fa-edit text-warning" (click)="updateDealer(dealer.id)" title="Modificar"></i>
                    <i class="fas fa-trash-alt text-danger" (click)="deleteDealer(dealer)" title="Eliminar"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="paginationContainer">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
<app-img-loading *ngIf="isAwaiting"></app-img-loading>