<div class="container-login">
  <div class="container-form shadow-lg">
    <div class="header">
      <h1>Fleet Services</h1>
      <p class="font">Aplicación para gestión de cupos y mantenimientos.</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="col-12 mb-2">
        <mat-form-field appearance="legacy" style="width: 100%">
          <mat-label>Correo electrónico</mat-label>
          <input
            type="text"
            matInput
            formControlName="user"
            placeholder="Ingrese su correo electronico"
          />
          <mat-error *ngIf="isRequired('user')"
            >Este campo es obligatorio</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12 mb-2">
        <mat-form-field appearance="legacy" style="width: 100%">
          <mat-label>Contraseña</mat-label>
          <input
            [type]="isVisibility ? 'text' : 'password'"
            matInput
            formControlName="password"
            placeholder="Ingrese su contraseña"
          />
          <button
            type="button"
            class="visibility"
            mat-icon-button
            matSuffix
            (click)="toggleVisibility()"
          >
            <mat-icon
              ><span class="material-symbols-outlined">
                {{ isVisibility ? 'visibility_off' : 'visibility' }}
              </span></mat-icon
            >
          </button>
          <mat-error *ngIf="isRequired('password')"
            >Este campo es obligatorio</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-12 forgot text-center font" (click)="recoverPassword()">
        Olvido su contraseña?
      </div>
      <div class="col-12 text-center">
        <button
          class="btn btn-success font"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</div>
<app-img-loading *ngIf="isAwaiting"></app-img-loading>
