<div class="container__group">
    <form [formGroup]="formgGroup">
        <div class="row__container" id="container__name">
            <div class="col">
                <label for="#">Nombre:</label>
                <input type="text" class="form-control" placeholder="Nombre ..." formControlName="txtName">
            </div>
            <div class="col">
                <label for="">Descripcion:</label>
                <input type="text" class="form-control" placeholder="Descripcion ..." formControlName="txtDescription">
            </div>
        </div>
    </form>
    <div class="row__container">
        <div class="col">
            <label for="#">Modulo:</label>
            <select [(ngModel)]="modulosSeleccionado" #modulos name="modulos" id="modulos" class="form-control">
                <option value="0" selected>-- Seleccione un Modulo --</option>
                <option [value]="module.id_module" *ngFor="let module of lsModules">{{module.moduleName}}</option>
            </select>
        </div>
        <div class="col">
            <label for="#">Acciones:</label>

            <ng-multiselect-dropdown id="acciones" #acciones name="acciones" [placeholder]="'Acciones'" [data]="actions" [settings]="dropdownSettings" [(ngModel)]="opcionesSeleccionadas">
            </ng-multiselect-dropdown>
        </div>
    </div>
    <div *ngIf="lsActionsSlected.length > 0">
        <table class="table table-striped">
            <thead>
                <th>Modulo</th>
                <th>Acciones</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let item of lsActionsSlected;let indice=index">
                    <td>{{item.name_module}}</td>
                    <td>
                        <select class="form-control" readonly>
                                <option value="0" selected>-- Acciones cargadas --</option>
                                <option [value]="action.act_id" *ngFor="let action of item.actions">{{action.act_name}}</option>
                            </select>
                    </td>
                    <td><a role="button" (click)="deleteModule(item)"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row__container">
        <div class="col">
            <div class="buttons__container" id="container__buttons">
                <button type="button" class="btn btn-success" (click)="addModule(modulos)">Añadir Modulo</button>
                <button type="button" class="btn btn-danger" (click)="comeBack()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="setDataGroup()">Guardar</button>
            </div>
        </div>
    </div>

</div>