<div>
  <h2 mat-dialog-title>Recuperar password</h2>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Correo electronico</label>
          <input type="text" class="form-control" [(ngModel)]="email" />
        </div>
      </div>
    </div>
  </div>
  <div
    mat-dialog-actions
    class="mt-3 d-flex align-items-center justify-content-between"
  >
    <button class="btn btn-danger" (click)="closeDialog()">Salir</button>
    <button
      class="btn btn-primary"
      [disabled]="email === ''"
      (click)="sendEmail()"
    >
      Enviar email
    </button>
  </div>
</div>
