<div id="container__content">
  <h1>Configuraciones</h1>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Marcas">
      <app-unique-setting item="Marcas"></app-unique-setting>
    </mat-tab>
    <mat-tab label="Tipos de vehiculos">
      <app-unique-setting item="Tipos"></app-unique-setting>
    </mat-tab>
    <mat-tab label="Lineas de vehiculos">
      <app-vehicule-model></app-vehicule-model>
    </mat-tab>
    <mat-tab label="Notificaciones">
      <app-notifications></app-notifications>
    </mat-tab>
    <mat-tab label="Reportes">
      <app-reports></app-reports>
    </mat-tab>
  </mat-tab-group>
</div>
