<div class="container__row">
    <div class="container__img">
        <img id="img-login" src="../../../assets/background_login_3.jpg" alt="Fleet service App">
    </div>
    <div class="container__form">
        <h1>Floti App</h1>
        <p>Aplicación para gestión de cupos y mantenimientos.</p>
        <div class="row align-items-center">
            <div class="mx-auto box-form">
                <form class="form p-4">
                    <div class="form-group" *ngIf="recoverReload">
                        <label for="user">User</label>
                        <input [(ngModel)]="loginUserData.usr_user" name="user" type="text" class="form-control" id="user" placeholder="user">
                    </div>
                    <div *ngIf="!recoverReload">
                        <p>Validar correo electronico.</p>
                    </div>
                    <p style="text-align: left;color: red;">{{ mensajeErrorRecover }}</p>
                    <button *ngIf="recoverReload" (click)='changePass()' class=" btn btn-outline-success my-2 my-sm-0 " style="margin-right: 10px;" type="button ">Cambiar</button>
                    <!-- <button (click)='back()' class=" btn btn-outline-info my-2 my-sm-0 " type="button ">Cancelar</button> -->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <app-img-loading *ngIf="isAwaiting"></app-img-loading> -->
<!-- <router-outlet *ngIf="Access"> </router-outlet> -->