.container__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1fr;
  justify-content: space-around;
}

.container__cards .card {
  cursor: pointer;
  color: #f9fcfb;
  font-weight: bold;
}

.transactionstodayfilter{
    display: flex;
    align-content: center;
    flex-direction: row;
    margin-bottom: 20px;

    button{
      margin-top: 0;
    }
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.container__field {
  margin-top: 5px;
}

.container__createQuota {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
}

.container__row a {
  position: relative;
  float: right;
}

.container__buttonClose {
  display: flex;
  flex-direction: row-reverse;
}

.overlay {
  display: grid;
  grid-template-columns: repeat(3fr);
  grid-template-rows: repeat(3fr);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(6, 129, 230, 0.1);
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  z-index: 5000;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.buttons__container {
  display: flex;
  justify-content: flex-end;
}

button {
  width: 250px;
  margin-left: 10px;
  margin-top: 20px;
}

#container__QuotaManager {
  display: none;
}

#container__freeUpQuota {
  display: none;
}

#container__addQuota {
  display: none;
}

#container__cancelQuota {
  display: none;
}

#container__resume {
  display: none;
}

.selection__indicator {
  width: 100%;
  height: 10px;
}
.dark-green {
  background-color: #26a69a;
}

.dark-red {
  background-color: #e80015;
}

.dark-yellow {
  background-color: #e69900;
}

.quantity {
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#indicator__clientsWithoutQuota {
  display: none;
}
#container__clientsWithoutQuota {
  display: none;
}

#indicator__transactions {
  display: none;
}
#container__transactions {
  display: none;
}

.container__tab {
  margin-top: 50px;
}



#container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

#container__content {
  transition: margin-left 1s;
  padding: 20px 50px;
  margin-left: 250px;
}

i {
  margin: 0 3px;
  cursor: pointer;
}

.card-review {
  width: 1200px;
  height: auto;
}

.container__field-client {
  margin-bottom: 15px;
}

.container__field-quota {
  margin-top: 15px;
}

.error-contractual-information {
  color: lightcoral;
  text-align: center;
  padding: 10px;
}
