.container__formRoutine{
    border: solid 1px #ccc;
    padding: 30px;
}
.container__buttonClose{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
.container__buttonClose a{
    padding: 10px;
    position: relative;
    float: right;

}
.txt-amount{
    width: 50px;
    
}

input{
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

label{
    cursor: pointer;
}