<div id="container__content">
  <mat-vertical-stepper [linear]="true">
    <mat-step>
      <ng-template matStepLabel>Datos básicos del concesionario</ng-template>
      <div class="card">
        <app-person
          [frmPersonMustBeBlocked]="blockFormDealer"
          [configComponent]="oConfigPersonComp"
          [personToUpdate]="oDealerToUpdate"
          [returnPath]="sReturnPath"
          [formHasError]="bFormHasError"
          [error]="errorMessage"
          (personWasSetted)="setPersonInfo()">
        </app-person>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Contactos</ng-template>
      <app-contact
        [dealer]="oDealerToUpdate"
        [contacts]="lsContacts"
        [action]="action"
        [disableActionButtons]="blockFormDealer"
        (onContactsWereModified)="updateContactsToDealer($event)">
      </app-contact>
      <div class="container-step-buttons">
        <button
          matStepperPrevious
          type="button"
          mat-raised-button
          color="primary"
          class="btn-step">
          Atás
        </button>
        <button
          matStepperNext
          type="button"
          mat-raised-button
          color="primary"
          class="btn-step">
          Siguiente
        </button>
      </div>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Sucursales</ng-template>
      <app-branch
        [dealer]="oDealerToUpdate"
        [branchs]="lsBranches"
        [action]="action"
        [disableActionButtons]="blockFormDealer"
        (onBranchsWereModified)="updateBranchesToDealer($event)">
      </app-branch>
      <div class="container-step-buttons">
        <button
          matStepperPrevious
          type="button"
          mat-raised-button
          color="primary"
          class="btn-step">
          Atás
        </button>
        <button
          matStepperNext
          type="button"
          mat-raised-button
          color="primary"
          class="btn-step">
          Siguiente
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Precios por insumo</ng-template>
      <app-tbl-prices-by-dealer
        [dealer]="oDealerToUpdate">
      </app-tbl-prices-by-dealer>
      <div class="container-step-buttons">
        <button
          matStepperPrevious
          type="button"
          mat-raised-button
          color="primary"
          class="btn-step">
          Atás
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<app-img-loading *ngIf="isAwaiting"></app-img-loading>
