<div *ngIf="buttonAddIsVisible">
    <button
        class="btn-add btn-info"
        id="btnAddContact"
        (click)="insertContact()"><i class="fas fa-plus"></i>
    </button>
</div>
<div
  class="container-table"
  [class.table-with-button]="buttonAddIsVisible">
  <table class="table table-striped">
      <thead>
          <th class="col-number col-mobile-hide">#</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th class="col-mobile-hide">Teléfono</th>
          <th class="col-mobile-hide">Celular</th>
          <th class="col-mobile-hide">Email</th>
          <th class="col-mobile-hide">Dirección</th>
          <th class="col-mobile-hide">Cargo</th>
          <th *ngIf="!disableActionButtons">Acciones</th>
      </thead>
      <tbody>
          <tr
            *ngFor="let i = index ;
            let contact of lsContacts | paginate: { itemsPerPage: 5, currentPage: p }">
              <th class="col-number col-mobile-hide">{{ (i + 1) }}</th>
              <td>{{ contact.name | titlecase }}</td>
              <td>{{ contact.lastname | titlecase }}</td>
              <td class="col-mobile-hide">{{ contact.phone }}</td>
              <td class="col-mobile-hide">{{ contact.cellphone }}</td>
              <td class="col-mobile-hide">{{ contact.email }}</td>
              <td class="col-mobile-hide">{{ contact.address }}</td>
              <td class="col-mobile-hide">{{ validateJobTitle(contact.jobTitle) | titlecase }}</td>
              <td>
                  <i
                    class="fas fa-info-circle text-info"
                    title="Más información"
                    (click)="getDetailsOfContant(contact.id)"
                    *ngIf="!disableActionButtons"></i>
                  <i
                    class="fas fa-edit text-warning"
                    title="Modificar"
                    (click)="updateContact(contact.id)"
                    *ngIf="!disableActionButtons"></i>
                  <i
                    class="fas fa-trash-alt text-danger"
                    title="Eliminar"
                    *ngIf="!disableActionButtons"
                    (click)="deleteContact(contact)"  ></i>
              </td>
          </tr>
      </tbody>
  </table>
  <div class="paginationContainer">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<div id="container__formContact">
    <div class="overlay">
        <div class="card">
            <div class="card-header" id="container__header">
                <h3 class="card-title">Contacto</h3>
                <a (click)="comeBackToTable()" class="buttonClose"><i class="fas fa-times"></i></a>
            </div>
            <div class="card-body">
                <app-person
                  [areVisibleButtonActions]="buttonsAreVisibles"
                  [frmPersonMustBeBlocked]="isFormBlocked"
                  [configComponent]="oConfigPersonComp"
                  [personToUpdate]="oPersonToUpdate"
                  (personWasSetted)="saveContact()"
                  (personWasCanceled)="comeBackToTable()"></app-person>
            </div>
        </div>
    </div>
</div>


<app-img-loading *ngIf="isAwaiting"></app-img-loading>
