<div class="container__users">
    <div class="row__container" id="container__name" [formGroup]="formUser">
        <div class="col">
            <label for="#">Nombres:</label>
            <input type="text" class="form-control" placeholder="Nombres ..." formControlName="txtNames">
        </div>
        <div class="col">
            <label for="">Apellidos:</label>
            <input type="text" class="form-control" placeholder="Apellidos ..." formControlName="txtLastNames">
        </div>
    </div>
    <div class="row__container" [formGroup]="formUser">
        <div class="col">
            <label for="#">Usuario:</label>
            <input type="text" class="form-control" placeholder="Usuario ..." formControlName="txtUser">
        </div>
        <div class="col">
            <label for="">Contraseña:</label>
            <input type="text" class="form-control" placeholder="Contraseña ..." formControlName="txtPass">
        </div>
    </div>
    <div class="row__container">
        <div class="col" [formGroup]="formUser">
            <label for="">Correo:</label>
            <input type="text" class="form-control" placeholder="Correo ..." formControlName="txtEmail">
        </div>
        <div class="col">
            <label for="">Grupo:</label>
            <ng-multiselect-dropdown id="grupo" #acciones name="grupos" [placeholder]="'Grupo ...'" [data]="lsGroups" [settings]="dropdownSettings" [(ngModel)]="opcionesSeleccionadas">
            </ng-multiselect-dropdown>
        </div>
    </div>
    <div class="row__container">
        <div class="col">
            <label for="">Perfil:</label>
            <ng-multiselect-dropdown id="profile" #profile name="profile" [placeholder]="'Perfil ...'" [data]="lsProfiles" [settings]="dropdownSettingsProfile" [(ngModel)]="opcionesSeleccionadasProfile" (onSelect)="loadProfile()" (onDeSelect)="loadProfile()">
            </ng-multiselect-dropdown>
        </div>
        <div class="col">
            <label for="">C/C/D:</label>
            <ng-multiselect-dropdown id="profileS" #profileS name="profileS" [placeholder]="'Perfil Mod ...'" [data]="lsProfileCDC" [settings]="dropdownSettingsProf" [(ngModel)]="opcionesSeleccionadasProf">
            </ng-multiselect-dropdown>
        </div>
    </div>
    <div class="buttons__container" id="container__buttons">
        <button type="button" class="btn btn-danger" (click)="comeBack()">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="setDataUser()">Guardar</button>
    </div>

</div>