<app-navigation></app-navigation>
<div id="container__content">
    <h1>Órdenes de trabajo</h1>
    <!-- <button class="btn-add btn-info"><i class="fas fa-plus"></i></button>
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>Consecutivo</th>
            <th>Placa</th>
            <th>Línea</th>
            <th>Cliente</th>
            <th>Mantenimiento</th>
            <th>Sucursal
            </th>
            <th>Acciones</th>
        </thead>
        <tbody>
             <tr *ngFor="let movement of lsMovements; let i = index">  
            <tr>
                <td>
                    <i class="fas fa-info-circle text-info" title="Más información"></i>
                    <i class="fas fa-edit text-warning"  title="Modificar"></i>
                    <i class="fas fa-trash-alt text-danger" title="Eliminar"></i>
                </td>
            </tr>
        </tbody>
    </table> -->
    <div class="card">
        <div class="card-body">
            <app-work-order></app-work-order>
        </div>
    </div>
    
</div>


<app-img-loading *ngIf="isAwaiting"></app-img-loading>