.container__row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh;
    overflow-y: hidden;
}

.container__img {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 8;
}

#img-login {
    width: 100%;
    height: 100vh;
    object-fit: fill;
}

.container__form {
    grid-row-start: 1;
    grid-column-start: 8;
    grid-column-end: 12;
    margin-top: 40%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.box-form {
    width: 400px;
}

.recover {
    float: right;
    margin-top: 10px;
}