<div class="container-models">
  <p>Líneas de vehículo</p>
  <div class="container__vehicleModels">
    <div class="container__type">
      <h6>Automóvil</h6>
      <app-input-checkbox
        *ngFor="let vehicleStatus of lsVehicleModelAutomovil"
        [option]="vehicleStatus.vehicleModel.shortName"
        [isActive]="vehicleStatus.status"
        (onCheckItem)="toogleItems($event, vehicleStatus.vehicleModel)"
      ></app-input-checkbox>
    </div>

    <div class="container__type">
      <h6>Camioneta</h6>
      <app-input-checkbox
        *ngFor="let vehicleStatus of lsVehicleModelCamioneta"
        [option]="vehicleStatus.vehicleModel.shortName"
        [isActive]="vehicleStatus.status"
        (onCheckItem)="toogleItems($event, vehicleStatus.vehicleModel)"
      ></app-input-checkbox>
    </div>

    <div class="container__type">
      <h6>Carga</h6>
      <app-input-checkbox
        *ngFor="let vehicleStatus of lsVehicleModelCarga"
        [option]="vehicleStatus.vehicleModel.shortName"
        [isActive]="vehicleStatus.status"
        (onCheckItem)="toogleItems($event, vehicleStatus.vehicleModel)"
      ></app-input-checkbox>
    </div>
  </div>
</div>
