.container__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.row_frequency{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 500px repeat(13,40px);
}

.active{
    display: block;
}

.inactive{
    display: none;
}

.button_move{
    cursor: pointer;
    font-weight: bold;
    color: #3282b8;
}

.arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
}