<div
  class="container__table"
  id="container__table_items"
  *ngIf="isTableVisible"
>
  <div class="container__filter">
    <div>
      <app-type-of-maintenance-item
        [typeOfItem]="typeFiltered"
        (chageType)="filterItems($event)"
      >
      </app-type-of-maintenance-item>
    </div>
    <div>
      <label>Nombre / Código: </label>
      <input
        type="text"
        [formControl]="txtDescription"
        placeholder="Nombre"
        class="form-control"
      />
    </div>
    <div>
      <button
        type="button"
        class="btn btn-danger btn-filter"
        (click)="clearFilter()"
      >
        Borrar filtro
      </button>
      <button
        type="button"
        class="btn btn-success btn-filter"
        (click)="file.click()"
      >
        Cargar mantenimientos
      </button>
      <input
        type="file"
        hidden
        #file
        (change)="getFile($event)"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      />
    </div>
  </div>
  <div class="text-right mt-2">
    <button class="btn btn-primary" (click)="downloaExcel()">
      Descargar Excel
    </button>
  </div>
  <button class="btn-add btn-info" (click)="insertMaintenanceItem()">
    <i class="fas fa-plus"></i>
  </button>
  <table class="table table-striped">
    <thead>
      <th class="col-number col-mobile-hide">#</th>
      <th>Código</th>
      <th>Nombre</th>
      <th class="col-mobile-hide">Tipo</th>
      <th class="col-mobile-hide">Presentación</th>
      <th class="col-mobile-hide">Valor sin impuestos</th>
      <th class="col-mobile-hide">Valor Impuetos</th>
      <th class="col-mobile-hide">Valor con impuestos</th>
      <th class="col-mobile-hide">Acciones</th>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let i = index;
          let item;
          of: lsMaintenanceItemsFiltered
            | paginate: { itemsPerPage: 100, currentPage: pag }
        "
      >
        <td>{{ i + 1 }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.name | titlecase | slice: 0:50 }}</td>
        <td>{{ item.type.name | titlecase }}</td>
        <td>{{ item.presentationUnit.longName | titlecase }}</td>
        <td>{{ item.referencePrice | currency: 'USD':'symbol':'1.0-0' }}</td>
        <td>
          {{
            item
              | calculateTaxes: item.referencePrice:1
              | currency: 'USD':'symbol':'1.0-0'
          }}
        </td>
        <td>
          {{
            item
              | calculateTotalPrice: item.referencePrice:1
              | currency: 'USD':'symbol':'1.0-0'
          }}
        </td>
        <td>
          <i
            class="fas fa-info-circle text-info"
            (click)="seeDetailsMaintenanceItem(item)"
            title="Más información"
          ></i>
          <i
            class="fas fa-edit text-warning"
            (click)="updateMaintenanceItem(item)"
            title="Modificar"
          ></i>
          <i
            class="fas fa-trash-alt text-danger"
            (click)="deleteMaintenanceItem(item)"
            title="Eliminar"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="paginationContainer">
    <pagination-controls (pageChange)="pag = $event"></pagination-controls>
  </div>
</div>
<div *ngIf="isMaintenanceItemVisible">
  <app-maintenance-item
    [disableControls]="disableControls"
    [maintenanceItem]="maintenanceItemSelected"
    (maintenanceItemWasSetted)="saveMaintenanceItem()"
    (maintenanceItemWasCanceled)="comeBackToTable()"
  >
  </app-maintenance-item>
</div>

<app-img-loading *ngIf="isAwaiting"></app-img-loading>
