<div class="container__table" id="container__table_items">
  <h2>
    Precios por artículo de mantenimiento del concesionario:
    {{ dealerSelected != null ? dealerSelected.name : ('' | titlecase) }}
  </h2>
  <div class="text-right mb-3">
    <span class="alert alert-primary"
      >Tipo de descuento: {{ getTypeDiscount() }}</span
    >
  </div>
  <table class="table table-striped">
    <thead>
      <th *ngIf="isCheckboxVisible">Valor del descuento</th>
      <th class="col-number col-mobile-hide">#</th>
      <th>Código</th>
      <th>Nombre</th>
      <th class="col-mobile-hide">Presentación</th>
      <th class="col-mobile-hide">Valor sin impuestos del concesionario</th>
      <th>Descuento</th>
      <th>Valor sin descuento</th>
      <th>Valor impuestos</th>
      <th>Valor final</th>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let i = index;
          let item;
          of: lsMaintenanceItems
            | paginate: { itemsPerPage: 10, currentPage: p }
        "
      >
        <td *ngIf="isCheckboxVisible">
          <input
            type="text"
            class="form-control"
            [value]="getValueDiscount(item)"
            (blur)="savePersonalized($event, item)"
          />
        </td>
        <td>{{ i + 1 }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.name | titlecase | slice: 0:40 }}</td>
        <td>{{ item.presentationUnit.longName | titlecase }}</td>
        <td>{{ item.referencePrice | currency }}</td>
        <td>{{ item.discountValue | currency }}</td>
        <td>{{ item.referencePrice - item.discountValue | currency }}</td>
        <td>{{ item.taxesValue | currency }}</td>
        <td>
          {{
            item.referencePrice - item.discountValue + item.taxesValue
              | currency
          }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="paginationContainer">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<app-img-loading *ngIf="isAwaiting"></app-img-loading>
