<div class="container__table" id="container__table_items">
    <h2>Precios por artículo de mantenimiento del concesionario: {{ (dealerSelected!=null)?dealerSelected.name:'' | titlecase }}</h2>
    <table class="table table-striped">
        <thead>
            <th class="col-number col-mobile-hide">#</th>
            <th>Código</th>
            <th>Nombre</th>
            <th class="col-mobile-hide">Presentación</th>
            <th class="col-mobile-hide">Valor sin impuestos del concesionario</th>        
            <th>Valor del descuento</th>              
            <th class="col-mobile-hide">Valor del contrato sin impuestos</th> 
            <th>Valor impuestos</th>
            <th>Valor final</th>
        </thead>
        <tbody>
            <tr *ngFor="let i = index ;let item of lsMaintenanceItems">
                <td>{{i+1}}</td>
                <td>{{item.code}}</td>
                <td>{{item.name | titlecase | slice:0:40 }}</td>
                <td>{{item.presentationUnit.longName | titlecase}}</td>
                <td>{{setDealerPriceIntoTable(item.id) | currency }}</td>
                <td>
                    <span [id]="getLabelDiscount(item.id)"></span>
                </td> 
                <td>        
                    <span [id]="getLabelContractPrice(item.id)"></span>
                </td>        
                <td>
                    <span [id]="getLabeTaxesId(item.id)"></span>
                </td>
                <td>
                    <span [id]="getLabeTotalId(item.id)"></span>
                </td>
            </tr>
        </tbody>
    </table>
    
    <!-- <div class="buttons__container" id="container__buttons">
        <button type="button" class="btn btn-danger" (click)="cancelPrices()">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="savePrices()">Guardar precios</button>
    </div> -->
</div>


<app-img-loading *ngIf="isAwaiting"></app-img-loading> 