.card{
  position: relative;
  width: 650px;
  margin: 10px;
}


.card-body{
  padding: 10px;
}

.container-error{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.error-description{
  position: relative;
  max-width: 450px;
  left: 30px;
}

#container__header{
  display: flex;
  flex-direction: row;
  direction: rtl;
}

.item-overlay{
  display: grid;
  grid-template-columns: repeat(3fr);
  grid-template-rows: repeat(3fr);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(6, 129, 230, 0.1);
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  z-index: 5000;
  width: 100%;
  height: 100%;
}


