.card-body{
    padding: 10px;
}

.container__titles{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.container__titles button{
    background-color: inherit;
    float: left;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
}

.container__titles button:hover{
    background-color: #ddd;
}

.container__titles button.active{
    background-color: #ccc;
}


.tab_content{
    padding: 20px 50px;
    border: solid 1px #ccc;
    border-top: none;
}


#container__content{
    transition: margin-left 1s;
    padding: 20px;
    margin-left: 250px;
}

